@{
    ViewBag.Title = "Employee";
}

<h2>@ViewBag.Title.</h2>
<hr />
<div ng-app="employeeApp" ng-controller="employeeCtrl">

    <div class="form-group" style="height:50px;">
        <button class="btn btn-success" ng-click="openAddForm()">
            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Create New Customer
        </button>
        <div class="alert alert-success" style="float:right;display:none;">Success</div>
        <div class="alert alert-error" style="float:right;display:none;">Success</div>
    </div>
    <div class="form-group">
        <table style="width:100%;">
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in EmployeeList">
                    <td ng-class-odd="'odd'">{{ e.EmployeeID }}</td>
                    <td ng-class-odd="'odd'">{{ e.FirstName }}</td>
                    <td ng-class-odd="'odd'">{{ e.LastName }}</td>
                    <td ng-class-odd="'odd'">{{ e.Phone }}</td>
                    <td ng-class-odd="'odd'">{{ e.Email }}</td>
                    <td ng-class-odd="'odd'">
                        <button class="btn" ng-click="openEditForm(e)">
                            <span class="glyphicon glyphicon-pencil" style="color:blue"></span>&nbsp;&nbsp;Edit
                        </button>
                        <button class="btn" ng-click="delEmployee(e.Id)">
                            <span class="glyphicon glyphicon-remove" style="color:red"></span>&nbsp;&nbsp;Delete
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="formModal" style="height:800px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-form name="empForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Employee Information</h4>
                    <input type="hidden" ng-model="Employee.EmployeeID" name="EmployeeID" />
                    <input type="hidden" ng-model="Employee.Id" name="Id" />
                </div>
                <div class="modal-body" style="height:150px;">
                    <div class="form-group">
                        <label class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input class="form-control" ng-model="Employee.FirstName" name="FirstName" required style="float:left;" />
                            <span style="color:red;padding-left: 5px;" ng-show="empForm.FirstName.$dirty && empForm.FirstName.$invalid">
                                <span ng-show="empForm.FirstName.$invalid" class="">*</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input class="form-control" ng-model="Employee.LastName" name="LastName" required style="float:left;" />
                            <span style="color:red;padding-left: 5px;" ng-show="empForm.LastName.$dirty && empForm.LastName.$invalid">
                                <span ng-show="empForm.LastName.$error.required">*</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Phone</label>
                        <div class="col-md-9">
                            <input class="form-control" ng-model="Employee.Phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input class="form-control" ng-model="Employee.Email" name="Email" type="email" ng-pattern="@Html.Raw(@"/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/")" style="float:left;" required />
                            <span style="color:red;padding-left: 5px;" ng-show="empForm.Email.$dirty && empForm.Email.$invalid">
                                <span data-ng-show="empForm.Email.$error.required">*</span>
                                <span data-ng-show="empForm.Email.$error.pattern">Invalid Email</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addEmployee()" ng-disabled="empForm.$invalid">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/loadmask")
    <script src="~/AppScripts/Employee.js"></script>
    <link href="~/Content/employee.css" rel="stylesheet" />
}
